<div class="table-container">
    <div class="table-responsive">
        <table class="table table-striped caption-top">
            <caption>List of Vaccines</caption>
            <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Veterinarian</th>
                    <th scope="col">Options</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vaccine of vaccines; let i = index">
                    <th scope="row"> {{ i+1 }} </th>
                    <td> {{ vaccine.name }} </td>
                    <td> {{ vaccine.vet }} </td>
                    <td>
                        <button type="button" (click)="openVaccineViewModal(vaccine.id)" class="btn btn-outline-info option-btn"><img src="../../../assets/img/icons/eye.svg" height ="16"/></button>
                        <button type="button" (click)="openVaccineEditModal(vaccine.id)" class="btn btn-outline-warning option-btn"><img src="../../../assets/img/icons/pen.svg" height ="16"/></button>
                        <button type="button" (click)="deleteVaccine(vaccine.id)" class="btn btn-outline-danger option-btn"><img src="../../../assets/img/icons/trash3.svg" height ="16"/></button>
                    </td>
                </tr>
              </tbody>
        </table>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-dark" routerLink="/">Return Home</button>
    </div>
</div>