<div class="modal-container">
    <div class="modal-header">
      <h4 *ngIf="!vaccineId" class="modal-title" id="modal-basic-title">Register Vaccine</h4>
      <h4 *ngIf="vaccineId" class="modal-title" id="modal-basic-title">Update Vaccine</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <!-- Pet Information -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <label for="pet">Pet Name*:</label>
              <select class="form-control" id="pet" name="pet" formControlName="pet" required>
                <option value="" disabled>Select a pet</option>
                <option *ngFor="let pet of pets" [value]="pet.id">{{ pet.pet_name }} {{ pet.pet_last_name }} </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <label for="name">Vaccine Name*:</label>
              <input class="form-control" type="text" id="name" name="name" formControlName="name" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" name="description" rows="4" formControlName="description"></textarea>
            </div>
          </div>
          <!-- Dates -->
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="application_date">Application Date*:</label>
              <input class="form-control" type="date" id="application_date" name="application_date" formControlName="application_date" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="next_date">Next Appointment Date*:</label>
              <input class="form-control" type="date" id="next_date" name="next_date" formControlName="next_date" required>
            </div>
          </div>
          <!-- Vet Information -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <label for="vet">Veterinarian:</label>
              <input class="form-control" type="text" id="vet" name="vet" formControlName="vet">
            </div>
          </div>
            <!-- Additional Notes -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="notes">Additional Notes:</label>
                <textarea class="form-control" id="notes" name="notes" rows="4" formControlName="notes"></textarea>
              </div>
            </div>
            <!-- Submit Button -->
            <div *ngIf="!vaccineId" class="modal-footer">
              <button class="btn btn-outline-dark" type="submit" [disabled]="form.invalid">Insert Vaccine Data</button>
            </div>
            <div *ngIf="vaccineId" class="modal-footer">
              <button class="btn btn-outline-dark" type="button" (click)="updateVaccine()" [disabled]="form.invalid">Update Vaccine Data</button>
            </div>
        </form>
    </div>
</div>