.row {
    margin: 15px;
}
input {
    border-radius: 15px;
}
select {
    border-radius: 15px;
}
.close{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: none;
    color: white;
    border-color: white;
    transition: transform 0.5s ease-in-out;
}
.close:hover {
    transform: rotateY(180deg);
}
.modal-title {
    font-size: 30px;
    margin: auto;
    font-family: "Mali", cursive, sans-serif;
    font-weight: bold;
    color: coral;
    width: 100%;
    text-align: center;
}
.modal-header {
    background-color: cadetblue;
}
.modal-body {
    background-color: gainsboro;
    font-size: 20;
    padding: 25px;
    text-align: center;
}