<div class="table-container">
    <div class="table-responsive">
        <table class="table table-striped caption-top">
            <caption>List of Pets</caption>
            <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pet Name</th>
                    <th scope="col">Species</th>
                    <th scope="col">Age</th>
                    <th scope="col">Options</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pet of pets; let i = index">
                    <th scope="row"> {{ i+1 }} </th>
                    <td> {{ pet.pet_name }} {{ pet.pet_last_name }}</td>
                    <td> {{ pet.species }} </td>
                    <td> {{ pet.age }} </td>
                    <td>
                        <button type="button" (click)="openPetViewModal(pet.id)" class="btn btn-outline-info option-btn"><img src="../../../assets/img/icons/eye.svg" height ="16"/></button>
                        <button type="button" (click)="openPetEditModal(pet.id)"class="btn btn-outline-warning option-btn"><img src="../../../assets/img/icons/pen.svg" height ="16"/></button>
                        <button type="button" (click)="deletePet(pet.id)" class="btn btn-outline-danger option-btn"><img src="../../../assets/img/icons/trash3.svg" height ="16"/></button>
                    </td>
                </tr>
              </tbody>
        </table>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-dark" routerLink="/">Return Home</button>
    </div>
</div>