.home-btn{
    min-width: 250px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid cadetblue;
    color: lemonchiffon;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: relative;
    border: 3px solid #318aac;
    outline: 1px solid;
    outline-color: coral;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.home-btn:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}
li {
    list-style: none;
}
.container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/background/home_background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.title {
    font-size: 70px;
    margin-bottom: 40px;
    font-family: "Mali", cursive, sans-serif;
    font-weight: bold;
    color: coral;
}

.menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.555);
    text-align: center;
    border-radius: 15px;
    background-color: rgba(127, 255, 212, 0.699);
}