<div class="container">
  <div class="row">
    <h1 class="title">Welcome to VetCare</h1>
  </div>
    <div class="row menu">
        <ul>
          <li><button class="btn btn-lg home-btn" (click)="openPetRegisterModal()">Register Pet</button></li>
          <li><button class="btn btn-lg home-btn" routerLink="/pets">Pet List</button></li>
          <li><button class="btn btn-lg home-btn" (click)="openVaccineRegisterModal()">Insert Vaccine Data</button></li>
          <li><button class="btn btn-lg home-btn" routerLink="/vaccines">Vaccine List</button></li>
        </ul>
      </div>
</div>
  