<div class="modal-container">
    <div class="modal-header">
      <h4 *ngIf="!petId" class="modal-title" id="modal-basic-title">Register Pet</h4>
      <h4 *ngIf="petId" class="modal-title" id="modal-basic-title">Update Pet</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <!-- Fields for the owner -->
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="owner_name">Owner's name*:</label>
              <input class="form-control" type="text" id="owner_name" name="owner_name" formControlName="owner_name" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="owner_last_name">Owner's Last Name*:</label>
              <input class="form-control" type="text" id="owner_last_name" name="owner_last_name" formControlName="owner_last_name" required>
            </div>
          </div>
          <!-- Fields for the pet -->
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="pet_name">The pet's name*:</label>
              <input class="form-control" type="text" id="pet_name" name="pet_name" formControlName="pet_name" required>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label for="pet_last_name">Pet Last Name*:</label>
              <input class="form-control" type="text" id="pet_last_name" name="pet_last_name" formControlName="pet_last_name" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <!-- Dropdown for species -->
              <label for="species">Species*:</label>
              <select class="form-control" id="species" name="species" formControlName="species" required>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
              </select>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <!-- field for race -->
              <label for="breed">Breed*:</label><br>
              <input class="form-control" type="text" id="breed" name="breed" formControlName="breed" required>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <!-- Age field (numbers only) -->
              <label for="age">Age (in years)*:</label>
              <input class="form-control" type="number" id="age" name="age" formControlName="age" required>
            </div>
          </div>
          <!-- Submit button -->
          <div *ngIf="!petId" class="modal-footer">
              <button class="btn btn-outline-dark" type="submit" [disabled]="form.invalid">Register Pet</button>
          </div>
          <div *ngIf="petId" class="modal-footer">
            <button class="btn btn-outline-dark" type="button" (click)="updatePet()" [disabled]="form.invalid">Update Pet</button>
          </div>
      </form>
    </div>
</div>
