<div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Vaccine Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <!-- Pet Information -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Pet Name: </strong>{{ pet.pet_name }} {{ pet.pet_last_name }}</label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Vaccine Name: </strong>{{ vaccine.name }}</label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Description: </strong>{{ vaccine.description }}</label><br>
            </div>
        </div>
        <!-- Dates -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Application Date: </strong>{{ vaccine.application_date | date }}</label><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Next Appointment Date: </strong>{{ vaccine.next_date | date }}</label><br>
            </div>
        </div>
    
        <!-- Vet Information -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Veterinarian: </strong>{{ vaccine.vet }}</label><br>
            </div>
        </div>
    
        <!-- Additional Notes -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Additional Notes: </strong>{{ vaccine.notes }}</label><br>
            </div>
        </div>
    </div>
</div>