<div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pet Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <!-- Fields for the owner -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Owner's name: </strong>{{ pet.owner_name }} {{ pet.owner_last_name }}</label><br>
            </div>
        </div>
    
        <!-- Fields for the pet -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>The pet's name: </strong>{{ pet.pet_name }} {{ pet.pet_last_name }}</label><br>
            </div>
        </div>
    
        <!-- species -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Species: </strong>{{ pet.species }}</label><br>
            </div>
        </div>
    
        <!-- field for race -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Breed: </strong>{{ pet.breed }}</label><br>
            </div>
        </div>
    
        <!-- Age field (numbers only) -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label><strong>Age: </strong>{{ pet.age }}</label><br>
            </div>
        </div>
    </div>
</div>
